<header role="banner">
  <div class="container">
    <h1><a href="{{ site.baseurl }}/">Herbal Indulgence</a></h1>
    <nav role="navigation" aria-label="Main navigation">
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/pages/about">About</a></li>
        <li><a href="{{ site.baseurl }}/pages/products">Products</a></li>
        <li><a href="{{ site.baseurl }}/pages/integrations">Integrations</a></li>
        <li><a href="{{ site.baseurl }}/pages/pricing">Pricing</a></li>
        <li><a href="{{ site.baseurl }}/resources/">Resources</a></li>
        <li><a href="{{ site.baseurl }}/pages/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="trust-badges" aria-label="Compliance and Partner Badges">
      <img src="{{ site.baseurl }}/assets/images/pci-dss.png" alt="PCI-DSS Compliant" width="40" height="40">
      <img src="{{ site.baseurl }}/assets/images/metrc.png" alt="METRC Integrated" width="40" height="40">
      <span>Powered by 
        <img src="{{ site.baseurl }}/assets/images/marijuanasoftware-logo.png" alt="MarijuanaSoftware LLC" width="80" height="20">
        & 
        <img src="{{ site.baseurl }}/assets/images/green-money-logo.png" alt="Green.Money" width="80" height="20">
      </span>
    </div>
  </div>

</header>
